<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.z3r0c00l2k.flutter_login_registration_ui">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
